<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidProject"
        tools:targetApi="31">
        <activity
            android:name=".loss_wight_ex"
            android:exported="false" />
        <activity
            android:name=".loss_wight_diet"
            android:exported="false" />
        <activity
            android:name=".GetBody_main"
            android:exported="false" />
        <activity
            android:name=".loss_Wight_main"
            android:exported="false" />
        <activity
            android:name=".Ragister_Gym"
            android:exported="false" />
        <activity
            android:name=".Music6"
            android:exported="false" />
        <activity
            android:name=".Music5"
            android:exported="false" />
        <activity
            android:name=".Music4"
            android:exported="false" />
        <activity
            android:name=".Music3"
            android:exported="false" />
        <activity
            android:name=".Music2"
            android:exported="false" />
        <activity
            android:name=".Music_mainActivity"
            android:exported="false" />
        <activity
            android:name=".GetBody"
            android:exported="false" />
        <activity
            android:name=".LossWightHome"
            android:exported="false" />
        <activity
            android:name=".Music1"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>